[submodule "deps/asio2"]
	path = deps/asio2
	url = https://github.com/zhllxt/asio2.git
[submodule "deps/json"]
	path = deps/json
	url = https://github.com/nlohmann/json.git
[submodule "deps/sqlite3"]
	path = deps/sqlite3
	url = https://github.com/alex85k/sqlite3-cmake.git
